name: MatheshMapReduce

services:
  coordinator:
    build:
      context: .
    container_name: coordinator
    depends_on:
      - docker-worker
    environment:
        # scale at runtime: WORKER_COUNT=16 docker compose up --scale docker-worker=16
      - WORKER_COUNT=${WORKER_COUNT:-4}
      - DATA_URL=${DATA_URL:-https://mattmahoney.net/dc/enwik9.zip}
      - WAIT_TIME=${WAIT_TIME:-300}
      - CHUNK_SIZE=${CHUNK_SIZE:-8}
      - NO_OF_PARALLEL_THREADS=${NO_OF_PARALLEL_THREADS:-1}
    command: ["python", "coordinator.py"]
    networks:
      - mapreduce

  docker-worker:
    build:
      context: .
    environment:
      - WORKER_PORT=${WORKER_PORT:-18861}
    command: ["python", "worker.py"]
    expose:
      - "18861"
    networks:
      - mapreduce

networks:
  mapreduce:
    driver: bridge
